.list{
    width: 100vw;
    max-width: 100%;
    min-height: 400px;
    display: flex;
    margin-bottom: 60px;
}

.title{
    margin: 0;
}

@media (max-width: 500px) {
    .list{
        flex-direction: column;
        align-items: center;
        min-height: 400px;
    }
}

@media (min-width: 501px) {
    .list{
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}