/* color text for pokemon type */
.type-normal, .type-fighting, .type-flying, .type-ghost, .type-grass, .type-bug, .type-dark, .type-dragon, .type-electric, 
.type-fairy, .type-fire, .type-ice, .type-poison, .type-psychic, .type-rock, .type-shadow, .type-steel, .type-unknown, 
.type-ground, .type-water {
    padding: 3px 6px;
    line-height: 30px;
    border-radius: 5px;
    color: white;
    margin-right: 5px;
  }


.detail-layout{
    width: 100vw;
    max-width: 100%;
    display: flex;
    margin-bottom: 40px;
}


@keyframes pokemove {
    0% {margin-top: 0px;}
    25% {margin-top: -6px;}
    50% {margin-top: 0px;}
    75% {margin-top: 6px;}
    100% {margin-top: 0px;}
}

@keyframes pokeballmove {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

.container, .moves-box, .abilities-box {
    border: 1px ;
    
}

.moves-box, .abilities-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
}

.p-wrapper{
    width: 95%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0px;
    box-sizing: border-box;
}

.img-wrapper{
    height: 200px;
    width: 200px;
}

.pokemon-img{
    animation: pokemove 1.5s infinite;
}

.pokemon-text{
    padding: 0;
    margin: 0;
}

.catch-wrapper{
    border: 1px ;
    display: flex;
    align-items: center;
    width: 150px;
    height: 80px;
    justify-content: space-around;
    flex-direction: column;
}

.box-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pokeball{
    width: 40px;
    height: 40px;
    /* position: relative; */
}

.pokeball-catching{
    animation: pokeballmove 2s infinite;
}

.wrapper-catching{
    background: rgb(223, 223, 133);
}

.wrapper-success{
    background: rgb(117, 212, 117);
}

.wrapper-fail{
    background: rgb(223, 140, 140);
}

.catch-button{
    font-family: 'Sigmar One', cursive;
    border: none;
    background: black;
    color: white;
    outline: none;
    box-shadow: -2px 2px 0px 0px black;
    border: 1px solid white;
    transition: 0.3s;
}

.catch-button:hover{
    background: white;
    color: black;
    border: 1px solid black;
    box-shadow: -2px 2px 0px 0px black;
    cursor: pointer;
}

@media (max-width: 375px) {
    .detail-layout{
        flex-direction: column;
        align-items: center;
    }

    .container, .abilities-box, .moves-box{
        width: 300px;
        margin-top: 20px;
    }

    .description-box{
        width: 100vw;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .detail-layout{
        flex-direction: column;
        align-items: center;
    }

    .container, .abilities-box, .moves-box{
        width: 400px;
        margin-top: 20px;
    }

    .description-box{
        width: 100vw;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .detail-layout{
        align-items: center;
        justify-content: space-around;
        align-items: flex-start;
    }

    .container {
        width: 35%;
        height: 400px;
        margin-top: 20px;
    }

    .abilities-box, .moves-box{
        width: 100%;
        margin-top: 20px;
    }

    .description-box{
        width: 58%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .detail-layout{
        align-items: center;
        justify-content: space-around;
        align-items: flex-start;
    }

    .container {
        width: 35%;
        height: 400px;
        margin-top: 20px;
    }

    .abilities-box, .moves-box{
        width: 100%;
        margin-top: 20px;
    }

    .description-box{
        width: 58%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 769px){
    .detail-layout{
        align-items: center;
        justify-content: space-around;
        align-items: flex-start;
    }

    .container {
        width: 25%;
        height: 400px;
        margin-top: 20px;
    }

    .abilities-box, .moves-box{
        width: 100%;
        margin-top: 20px;
    }

    .description-box{
        width: 70%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.chip {
    padding: 4px 10px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-right: 10px;
  }

  .button-detail{
    width: 50%;
    background: rgb(236 88 103);
  }