.empty{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.empty img{
    width: auto;
    margin-bottom: 40px;
}

h4{
    margin: 0;
}

img {
    width: 90%;
}
