header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(to right, rgb(117, 212, 117), #1cb5e0);;
    margin: 0 0 16px 0;
    padding: 0;
    width: 100%;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.title-container img{
    width: 70%;
}