footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #32cbab;
    margin: 0 0 16px 0;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-bottom: auto;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    background: #ff6161;
    border-radius: 5px;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 5px;
    height: 30px;
}

.nav-active{
    background:rgb(221 218 208);;
    color: white;
}

.nav-item{
    transition: 0.5s;
}

.nav-item:hover{
    cursor: pointer;
    color: rgb(109 102 102);
    background: rgb(221 218 208);;
}

.nav-text{
    font-size: 1.17em;
    margin-left: 10px;
}

.title-container img{
    width: 70%;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}